<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates/form.html</title>
</head>
<body>
    <h1>GET</h1>
    <form action="/login_proc_get" method="get">
        ID <input type="text" name="user_id"> <br>
        PW <input type="text" name="user_pwd"> <br>
        <input type="submit" value="Submit">
    </form>
    
    <h1>POST</h1>
    <form action="/login_proc_post" method="post">
        ID <input type="text" name="user_id"> <br>
        PW <input type="text" name="user_pwd"> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>